
*.bak
/.metadata/

desktop.ini

.tmp.driveupload/

Ventilsteuerung/4diacIDE-workspace/.lib/logiBUS-3.0.0/typelib/bosch/imu/Doku_FB_MM710_IMU.md

**/__pycache__/**

*.zip
# Coverage reports
Ventilsteuerung/apixon-io-client/coverage/
node_modules/

Ventilsteuerung/4diacIDE-workspace/.lib/isobus-3.0.0/typelib/UT/Q/TASK_Deepseek_Annex_Audit.md

Ventilsteuerung/4diacIDE-workspace/.lib/isobus-3.0.0/typelib/UT/Q/REPORT_Gruppe1.md

Ventilsteuerung/4diacIDE-workspace/.lib/isobus-3.0.0/typelib/UT/Q/REPORT_Gruppe2.md

Ventilsteuerung/4diacIDE-workspace/.lib/isobus-3.0.0/typelib/UT/Q/REPORT_Gruppe3.md

Ventilsteuerung/4diacIDE-workspace/.lib/isobus-3.0.0/typelib/UT/Q/REPORT_Gruppe4.md

Ventilsteuerung/4diacIDE-workspace/.lib/isobus-3.0.0/typelib/UT/Q/TASK_Deepseek_Annex_Audit_REPORT.md

type.adoc
